@font-face {
  font-family: "PP NeueBit";
  src: url("../assets/fonts/PPNeueBit-Bold.otf");
}

.frame {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  align-items: flex-start;
  width: 60%;
}

.top {
  margin-left: 7.5vw;
  /* width: 35.7vw; */
}

.top-f {
  display: flex;
  justify-content: space-between;
  font-family: "N27";
  font-style: italic;
  font-weight: 400 !important;
  font-size: 12px !important;
  margin-bottom: 25px;
  padding: 0px 0.65%;
}

.hack {
  font-family: "PP NeueBit";
  font-style: normal;
  font-weight: 700;
  font-size: 8vw;
  line-height: 6.2vw;
  letter-spacing: -0.02em;
  margin-bottom: 3%;
  transform: translate(0, -25px);
}

.hack h1 {
  font-size: 8vw;
  margin: 0;
}

.hack h2 {
  font-size: 8vw;
  margin: 0;
}

.year {
  font-family: "PP Mondwest";
  font-style: normal;
  font-weight: 400;
  font-size: 250px;
  /* line-height: 369px; */
  margin: 0px;
  text-align: left;
}

.desc {
  left: 80px;
  font-family: "N27";
  font-style: italic;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 29px;

  transform: translate(0, -25px);
  padding: 0% 0.65%;
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0;
  font-family: "N27";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.form-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 8vh;
  margin: 0;
  border: 1px solid black;
  transform: skew(-25deg);
  margin-bottom: 1.5%;
  /* margin-top: 4.1vh; */
}

.counter-button {
  transform: skew(25deg);
}

.count {
  transform: skew(25deg);
  margin: 0;
  /* height: 20%; */
  font-family: "PP NeueBit";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
}

.counter {
  position: relative;
  left: 1vh;
  transform: skew(25deg);
  cursor: pointer;
  height: 90%;
  width: 40%;
  margin-left: 5px;
  background-color: black;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 00%, 86% 100%, 0% 100%);
}

@media only screen and (max-width: 1200px) {
  .counter {
    clip-path: polygon(0% 0%, 100% 00%, 80% 100%, 0% 100%);
  }
}

.mintbtn {
  font-family: "N27";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 29px;
  color: #ffff;
}

.loader1 {
  border: 5px solid #ffffff; /* Light grey */
  border-top: 5px solid #1c1d1d; /* Blue */
  border-radius: 50%;
  transform: skew(25deg);
  position: relative;
  top: 10%;
  left: 40%;
  margin: 0;
  align-items: center;
  width: 4.18vh;
  height: 4.18vh;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.socials {
  position: relative;
  left: 20vw;
  top: 10vh;
  width: 160px;
  font-family: N27;
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 55px;
}

.links {
  display: flex;
  margin-left: 17px;
  margin-top: 10px;
}

.links p {
  font-size: 1vw;
  text-align: center;
  margin: 0;
  margin-left: 5px;
  font-size: 14px;
}

.links a {
  display: flex;

  text-decoration: none;
  color: black;
  font-family: "PP NeueBit";
  font-style: normal;
  font-size: 16px;
  margin-left: 15px;
  align-items: center;
}

.squares {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.squares div {
  background: #d9d9d9;
}

.squares :nth-child(1) {
  height: 6.5vw;
  width: 6.6vw;
}

.squares :nth-child(2) {
  height: 9.78vw;
  width: 9.8vw;
}
.squares :nth-child(3) {
  height: 13.02vw;
  width: 13.08vw;
}
.squares :nth-child(4) {
  height: 16.2vw;
  width: 16.2vw;
}
.squares :nth-child(5) {
  height: 13.02vw;
  width: 13.08vw;
}

.squares :nth-child(6) {
  height: 9.78vw;
  width: 9.8vw;
}
.squares :nth-child(7) {
  height: 6.5vw;
  width: 6.6vw;
}

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 90%;
  }
  .frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: 7vh;
  }

  .top {
    margin: 0;
  }

  .top-f {
    display: block;
    text-align: center;
  }

  .hack {
    line-height: 56px;
    text-align: center;
    /* font-size: 55px; */
  }

  .hack h1 {
    font-size: 21vw;
  }

  .hack h2 {
    font-size: 55px;
  }

  .desc {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }

  .right {
    align-items: center;
    width: 100%;
  }

  .counter {
    clip-path: polygon(0% 0%, 100% 00%, 81% 100%, 0% 100%);
  }

  .counter-button {
    width: auto;
  }

  .mintbtn {
    margin-top: 7%;
    font-size: 4vw;
  }
  .squares {
    display: none;
  }

  .socials {
    left: 10vw;
    top: 0;
  }
}
