.owner-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 25%;
}

input {
  border: none;
  border-bottom: 0.5px solid black;
  width: 100%;
  height: 50px;
  background-color: transparent;
  font-family: "N27";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

.own-emailerr {
  width: 100%;
  visibility: hidden;
}

.scanner {
  margin-bottom: 20px;
  width: 100%;
}

.pull {
  position: relative;
  left: 20%;
  width: 50%;
  font-family: "N27";
  /* font-style: italic; */
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  transform: skew(-20deg);
  background: #eff0eb;
  color: #151515;
  border: 0.5px solid #151515;
  cursor: pointer;
}

.o-mintbtn {
  position: relative;
  left: 20%;
  width: 50%;
  font-family: "N27";
  /* font-style: italic; */
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  transform: skew(-20deg);
  background: #eff0eb;
  color: #151515;
  border: 0.5px solid #151515;
  cursor: pointer;
}

.loader {
  border: 5px solid #ffffff; /* Light grey */
  border-top: 5px solid #1c1d1d; /* Blue */
  border-radius: 50%;
  margin-top: 10%;
  align-items: center;
  width: 9.18vh;
  height: 9.18vh;
  margin-top: 20%;
  margin-bottom: 20%;
  animation: spin 2s linear infinite;
}
