@font-face {
  font-family: "N27";
  src: url("../assets/fonts/N27-Regular.otf");
}

.main-navbar {
  margin-top: 4%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* .main-navbar .logo {
  display: 20%;
} */

.logos {
  margin-left: 6.5vw;
}

/* .main-navbar .logo img {
  height: 5.17vh;
  width: 9.5vw;
} */

.main-navbar .links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.dropdown {
  font-family: "N27";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  justify-self: flex-end;
  text-align: center;
}

.dropdown .arrow {
  height: vw;
  min-width: 135px;
  min-height: 47px;
}

.dropdown .down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

/* .down h3 {
  height: 3vw;
  vertical-align: middle;
} */

.main-navbar .button button {
  cursor: pointer;
  margin-right: 6.5vw;
  width: 11.453vw;
  height: 4vw;
  min-width: 135px;
  min-height: 47px;
  background: transparent;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.76vh;
}
